*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-div-center {
  max-width: 90%;
  margin: 0 auto; }

.u-margin-bottom {
  margin-bottom: 2.6rem; }

body {
  font-family: sans-serif; }

img {
  height: 4rem; }

.section-header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/chang-duong-Sj0iMtq_Z4w-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.6rem 1rem;
  position: relative; }
  .section-header .section-nav {
    background-image: linear-gradient(to left, #ff0f0f, #b073ff);
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem; }
    .section-header .section-nav__navigations {
      display: flex;
      list-style: none;
      gap: 1rem; }
      .section-header .section-nav__navigations .navigations__item .navigations__link {
        color: #fff;
        font-family: sans-serif;
        text-decoration: none;
        font-size: 1.4rem; }
  .section-header .section-header__textbox {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
    .section-header .section-header__textbox .heading-primary {
      color: #fff;
      line-height: 1; }
      .section-header .section-header__textbox .heading-primary--main {
        display: block;
        font-size: 4rem;
        font-weight: 400; }
        .section-header .section-header__textbox .heading-primary--main span {
          background-image: linear-gradient(to left, #ff0f0f, #b073ff);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          display: inline-block; }
      .section-header .section-header__textbox .heading-primary--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        margin-top: 1.2rem; }
      .section-header .section-header__textbox .heading-primary--sub {
        display: block; }
    .section-header .section-header__textbox .social-icon-box {
      padding-top: 6rem;
      width: 40%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .section-header .section-header__textbox .social-icon-box a {
        color: #fff;
        text-decoration: none; }
        .section-header .section-header__textbox .social-icon-box a i {
          font-size: 2.6rem; }

.section-about {
  padding: 3.8rem 0; }
  .section-about .heading-secondary--sub {
    font-size: 1.4rem;
    display: block;
    background-image: linear-gradient(to left, #ff0f0f, #b073ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .section-about .heading-secondary--main {
    font-size: 2.6rem;
    color: #444; }
  .section-about__texts {
    font-size: 1.6rem;
    color: #666;
    font-weight: 400;
    line-height: 1.4; }

.section-achievement {
  padding: 3.8rem 0; }
  .section-achievement .heading-secondary--sub {
    font-size: 1.4rem;
    display: block;
    background-image: linear-gradient(to left, #ff0f0f, #b073ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .section-achievement .heading-secondary--main {
    font-size: 2.6rem;
    color: #444; }
  .section-achievement__boxes {
    display: flex;
    align-items: center;
    gap: 1.4rem; }
    .section-achievement__boxes:not(:last-child) {
      margin-bottom: 2.2rem; }
    .section-achievement__boxes .img-box {
      width: 100%; }
      .section-achievement__boxes .img-box img {
        width: 100%; }
    .section-achievement__boxes .section-achievement-text {
      font-size: 1.4rem;
      line-height: 1.4;
      color: #666; }
