.btn {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 1.5rem;
    transition: all 0.3s;
    text-transform: uppercase;
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;
    border-radius: 1000px;
    animation: moveInBottom 1s ease-out;
  }
}
