$color-white: #fff;
$color-black: #000;

$color-primary: #4f46e5;
$color-primary-light: #6366f1;
$color-primary-dark: #3730a3;

$color-grey-light: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #333;

$default-font-size: 1.6rem;
