.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-div-center {
  max-width: 90%;
  margin: 0 auto;
}
